/*-- scss:defaults --*/

$body-bg:                                 #313745 !default;
$body-color:                              #fdfdfd !default;
$headings-color:                          $body-color !default;
$code-block-bg:                           lighten($body-bg, 3%) !default;
$navbar-bg:                               $body-bg !default;

$link-color:                              darken($body-color, 30%) !default;
$link-shade-percentage:                   15% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

$code-color:                              darken($body-color, 10%) !default;
$code-bg:                                 lighten($body-bg, 10%) !default;

$card-border-color:                       $body-color !default;
$form-select-border-color:                $body-color !default;

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$headings-font-family:                    "Lora", serif !default;

/*-- scss:rules --*/

.card-footer {
    color: lighten($body-bg, 30%);
    background-color: lighten($body-bg, 2%);
}

.navbar-brand > img {
    padding: 20px 20px;
    background: url("images/logo-dark.png");
    background-size: 40px;
    background-repeat: no-repeat;
}

.fa-solid {
    color: #9ea1a8;
}

.dark-mode { display: block; }
.light-mode { display: none; }
