/*-- scss:defaults --*/

$body-bg:                                 #fdfdfd !default;
$body-color:                              #313745 !default;
$headings-color:                          $body-color !default;
$code-block-bg:                           darken($body-bg, 3%) !default;
$navbar-bg:                               $body-bg !default;

$link-color:                              lighten($body-color, 30%) !default;
$link-shade-percentage:                   30% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

$code-color:                              lighten($body-color, 10%) !default;
$code-bg:                                 darken($body-bg, 10%) !default;

$card-border-color:                       $body-color !default;
$form-select-border-color:                $body-color !default;

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$headings-font-family:                    "Lora", serif !default;

/*-- scss:rules --*/

.card-footer {
    color: darken($body-bg, 30%);
    background-color: darken($body-bg, 2%);
}

.navbar-brand > img {
    max-height: 40px;
}

.fa-solid {
    color: #9ea1a8;
}

.light-mode { display: block; }
.dark-mode { display: none; }
